html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    margin: 0;
}
.top {
    width: 100%;
    height: 51px;
    background-color: #f9f9f9;
    position:absolute;
    top:0;
    z-index: 1000;
}
.maia-signature {
    clear: both;
    width: 100%;
    height: 2px;
}
.maia-signature span {
  display: block;
  float: left;
  width: 25%;
  height: 1px;
}
.login {
	position:absolute;
	z-index: 100;
	width: 400px;
	height: 300px;
	font-size: 14px;
	color: #fdfdfd;
	left: calc(50% - 200px);
	top: calc(50% - 200px);
	background-color: #fdfdfd;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
	display: none;
}
.login-title {
	width: 100%;
	height: 40px;
	background-color: #333;
	padding-left: 15px;
	line-height: 40px;
	cursor:move;
}
.lt-close {
	display: block;
	position:absolute;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	top: 5px;
	right: 5px;
	border-radius: 30px;
	color: #fff;
	cursor:pointer;
}
.lt-close::before, .lt-close::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 15px;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #b9b9b9;
}
.lt-close:hover::before, .lt-close:hover::after {
	background: #dfdfdf;
}
.lt-close::before {
	transform: rotate(45deg);
}
.lt-close::after {
	transform: rotate(-45deg);
}
.login form {
	font-size: 14px;
	padding: 40px 50px 20px 50px;
	color: #333;
}
.login-close:hover {
	color: #fff;
}
.fleft {
    float: left;
}
.w200 {
    width: 200px;
}
.control {
    display: block;
    float: right;
    color: #ddd;
    margin-right: 10px;
    text-decoration:none;
}
.control:hover{
    color: #fff;
}
.control-close {
    line-height: 50px;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 14px;
}
.control-max {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
}
.control-min {
    line-height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
}
.top-content {
    width: calc(100% - 400px);
    height: 50px;
}
.foot {
    width: 100%;
    height: 68px;
    /*background-color: #ddd;*/
    position:absolute;
    bottom:0;
    border-top: solid 1px rgba(210, 210, 210, 0.5);
}
.cont {
    width: 100%;
    position:absolute;
    top: 50px;
    bottom: 68px;
}
.left {
  width: 200px;
  height: 100%;
  background-color: rgba(244, 245, 245, 0.59);
  float: left;
}
.left-menu {
  width: 200px;
  height: calc(100% - 70px);
  float: left;
}
.left-login-win {
  width: 200px;
  height: 70px;
  float: left;
  border-top: 1px solid rgba(210, 210, 210, 1);
  padding: 5px;
  cursor:pointer;
}
.lwm-head {
  width: 45px;
  height: 60px;
  float: left;
}
.lwm-name {
  width: 145px;
  height: 60px;
  float: left;
  padding-left: 20px;
  line-height: 60px;
}
.content {
    width: calc(100% - 200px);
    height: 100%;
    background-color: #fff;
    float: right;
    border-left: solid 1px rgba(202, 210, 210, 1);
    overflow-y:scroll;
}
*::-webkit-scrollbar {/*滚动条整体样式*/
  width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
*::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 10px;
   -webkit-box-shadow: inset 0 0 5px rgba(233, 233, 233, 0.2);
  background: #e4e4e4;
}
*::-webkit-scrollbar-track {/*滚动条里面轨道*/
  /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 10px;
  background: #EDEDED;*/
}
*::-webkit-scrollbar-thumb:hover { /*滚动条划过效果*/
  background-color:#d4d4d4
}
a {
  text-decoration: none;
}

h1 {
  color: #1ebcc5;
  text-align: center;
  margin: 0 0 50px 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header ul {
  margin-top: 20px;
}

.variations {
  width: 440px;
  display: inline-block;
  margin: 20px 0 0;
}
.variations li {
  width: 70px;
  margin: 15px 20px;
  display: inline-block;
  vertical-align: top;
}
.variations li ul li {
  margin: 0;
  text-align: left;
  display: block;
}

.mininum {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 50px;
  overflow: hidden;
}
.mininum::before{
  content: '';
  position: absolute;
  height: 2px;
  width: 12px;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #0089fa;
}
.mininum.black::before{
  height: 1px;
  margin-top: -2px;
}
.mininum.rounded::before{
  border-radius: 5px;
}
.mininum.black:hover::before{
  background: #333;
}

.maxinum {
  position: relative;
  display: inline-block;
  width: 11px;
  height: 50px;
  overflow: hidden;
}
.maxinum::before{
  content: '';
  position: absolute;
  height: 50px;
  width: 11px;
  top: 50%;
  left: 0;
  margin-top: 0px;
  border: solid 1px #00a753;
}
.maxinum.black::before{
  height: 9px;
  margin-top: -7px;
}
.maxinum.rounded::before{
  border-radius: 2px;
}
.maxinum.black:hover::before{
  border: solid 1px #333;
}

.normal {
  position: relative;
  display: inline-block;
  width: 11px;
  height: 50px;
  overflow: hidden;
}
.normal::before, .normal::after{
  content: '';
  position: absolute;
  height: 50px;
  width: 11px;
  top: 50%;
  left: 0;
  margin-top: 0px;
  border: solid 1px #b9b9b9;
}
.normal.black::before{
  height: 9px;
  margin-top: -9px;
  margin-left: 2px;
}
.normal.black::after{
  height: 9px;
  margin-top: -7px;
}
.normal.rounded::before, .normal.rounded::after{
  border-radius: 2px;
}
.normal.black:hover::before, .normal.black:hover::after{
  border: solid 1px #fff;
}

.win-close {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 50px;
  overflow: hidden;
}
.win-close.black:hover::before, .win-close.black:hover::after {
  background: #ff0000;
}
.win-close::before, .win-close::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 13px;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #f35b24;
}
.win-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.win-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.win-close.big {
  -webkit-transform: scale(3);
  -moz-transform: scale(3);
  -ms-transform: scale(3);
  -o-transform: scale(3);
  transform: scale(3);
}
.win-close.hairline::before, .win-close.hairline::after {
  height: 1px;
}
.win-close.thick::before, .win-close.thick::after {
  height: 4px;
  margin-top: -3px;
}
.win-close.black::before, .win-close.black::after {
  height: 1px;
  margin-top: -3px;
}
.win-close.heavy::before, .win-close.heavy::after {
  height: 12px;
  margin-top: -6px;
}
.win-close.pointy::Before, .win-close.pointy::after {
  width: 200%;
  left: -50%;
}
.win-close.rounded::before, .win-close.rounded::after {
  border-radius: 5px;
}
.win-close.blades::before, .win-close.blades::after {
  border-radius: 5px 0;
}
.win-close.warp::before, .win-close.warp::after {
  border-radius: 120% 0;
}
.win-close.fat::before, .win-close.fat::after {
  border-radius: 100%;
}

small {
  display: block;
  padding: 5rem;
  font: .8rem/1 sans-serif;
  color: #777;
  text-align: center;
}

small a {
  color: #1ebcc5;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

small a:hover {
  border-bottom-color: #222;
}

.netease-bg {
  background: url(../images/audio_sprite.png) no-repeat 0 9999px;
}

.netease-logo {
  display: inline-block;
  width: 17px;
  height: 18px;
  background-position: 0 -132px;
  vertical-align: middle;
  cursor: pointer;
}
.netease-play {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.35);
  background-position: -68px -118px;
  vertical-align: middle;
  cursor: pointer;
}
